<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="{{ '/assets/css/404.css' | prepend: site.baseurl }}">
    </head>
    <body>
        <div class="blank-page">
        <a href="{{ '/' | prepend: site.baseurl }}" class="go-home">↩ RETURN TO HOME</a>
        <div class="not-found-msg">
            <h1 class="sour-face">(╯°□°）╯︵ ┻━┻</h1>
            <p style="font-size:1.75rem; color:#fa4251;">404: Page not found</p>
            <p style="font-size:1.25rem;">This page doesn't seem to exist, if this shouldn't be the case please contact @mikoinspace on any platform.</p>
        </div>
        </div>
    </body>
    <script src="{{ '/assets/js/404.js' | prepend: site.baseurl }}"></script>
</html>
